.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  .box {
    background-color: rgb(255, 203, 46);
    width:124px;
    height: 124px;
    display: grid;
    place-items: center;
    color: #000;
    top:0;
  }